@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;

}

header {
    background-color: #3d63b6;
    padding: 24px;
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 48px;
    list-style: none;
}

@media screen and (max-width: 480px) {
    header ul {
        flex-direction: column;
        align-items: center;
    }
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
}

li a:hover {
    text-decoration: underline;
    color: rgb(212, 214, 216);
}

.icone-whatsapp {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;

}

section {
    display: flex;
}

.section1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.image-1 {
    width: 50%;
    padding: 30px;
}

h2 {
    font-size: 42px;
}

.p1 {
    font-size: 15px;
    padding: 10px;
}

.button {
    border: #3d63b6;
    background-color: #3d63b6;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    margin-bottom: 40px;
}

.button a {
    text-decoration: none;
    color: white;
}

.button:hover {
    font-weight: bold;
    cursor: pointer;
}

.section2 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.image-2 {
    width: 50%;
    margin-bottom: 40px;
}

section#planos {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    min-width: 450px;
    margin: 0 auto;
    border: 0.5px gray solid;
    border-collapse: collapse;
}

.container-table {
    overflow-x: scroll;
    width: 100%;
}

th, td {
    border: 0.5px gray solid;
    padding: 10px 30px 10px 30px;
    margin: 0 auto;
}

.footer {
    padding: 36px;
}

footer > p {
    font-size: 15px;
    text-align: center;
    color: gray;
}

hr {
    border: 0.5px rgba(128, 128, 128, 0.84) solid;
}

@media screen and (min-width:800px) {
    .image-1, .image-2 {
        width: 30%;
    }
}