@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;

}

header {
    background-color: #3d63b6;
    padding: 24px;
}

ul {
    display: flex;
    gap: 48px;
}

header li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.image-1 {
    width: 400px;
}

section {
    padding: 48px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 {
    flex-direction: row-reverse;
}

.section2 {
    gap: 48px;
    flex-direction: row;
    justify-content: center;
    text-align: left;
}

section.section2 > img {
    width: 40%;
}

section.section2 > div {
    width: 40%;
}

h2 {
font-size: 45px;
margin: 10px;
}

.p {
    font-size: 14px;
}

.button {
    margin: 20px;
    color: white;
    background-color: #3d63b6;
    border-radius: 40px;
    border: #3d63b6;
    width: 165px;
    height: 50px;
}

.button:hover {
    cursor: pointer;
    font-weight: bold;
}

.footer {
    padding: 36px;
}

footer > p {
    font-size: 15px;
    text-align: center;
    color: gray;
}

hr {
    border: 0.5px rgba(128, 128, 128, 0.84) solid;
}

#planos {
    /* text-align: center;
    margin-top: 50px; */
}

.table-planos {
    /* margin: 15px auto; */
    border-collapse: collapse;
    border: 0.5px solid gray;
    /* margin-bottom: 70px; */
}

th, td {
    padding: 15px 50px;
    border: 0.5px solid gray;
}

tbody th {
    text-align: left;
    padding: 10px 150px 10px 10px
}

.icone-whatsapp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: #c4d2f0;
    text-decoration: underline;
    cursor: pointer;
}

section#planos {
    display: flex;
    flex-direction: column;
}